

/*header*/

header {
    width: 100%;
    height: 9vh;
    
    position: fixed;
    z-index: 9999;
    font-family: 'Old+Standard TT' serif;
}
.headerwrap{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: rgba(25, 55, 100, 0);
}
.logo {
    margin-left: 3%;
    cursor: pointer;
    
}
.logo img {
    width: 130px;
    margin-top: 16%;
    cursor: pointer;
}
nav {
    margin-left: 10%;
    display: flex;
    margin: 0 5%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 5% ;
}
nav ul li {
    margin: 0 10%;
    
}
nav ul a {
    font-size: 1.5rem;
}
nav ul li a {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    
}
nav ul li a:hover {
    color: #697686;
}
ul .login a i{
    font-size: 1.5rem;
}

/* toggle menu */
.toggle {
    padding: 5%;
}

label .fas  {
    font-size: 2rem;
    color: #fff;
    display: none;
}
#nav {
    list-style: none;
    width: 100%;
    height: 100vh;
    background-color: #193764e8;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
#nav, #toggle  {
    display: none;
}
#toggle:checked + #nav {
    display: block;
}
#nav li {
    text-align: center;
    margin: 10%;
    
}
#nav li a {
    font-size: 1.5rem;
}
/* toggle menu end */

/*header_end*/


/*footer section*/



footer {
    width: 100%;
    height: 25vh;
    background-color: #193764;
    z-index: 99999;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.left {
    
}
.left .opust_logo_footer {
    
}
.left .opust_logo_footer img {
    width: 180px
}
.left .number {
    margin-top: 15%;
    color: #fff;
}
.left .number p {
    font-size: 1.25rem;
}
.left .icon {
    display: flex;
    justify-content: space-around;
    margin-top: 5
}
.left .icon i{
    font-size: 2.3rem;
    
}
address {
    width: 70%;
    color: #fff;
}
address ul {
    display: flex;
    
}
address ul li {
    margin-right: 3%;
}

.line {
    border-bottom: solid;
    border-width: thin;
    width: 100%;
    color: #fff;
    margin: 2% 0 3% 0;
    
}

.right {
     margin-top: 1%;
}

.right .box {
    border: solid;
    border-color: rgba(255, 255, 255, 0.46);
    width: 150px;
    height: 50px;
    border-width: thin;
    margin: 5%;
}

.right .thesharp  {
    background-image: url(../image/thesharp_logo_white.png);
    background-position: center;
    background-size: 140px;
    background-repeat: no-repeat;
}
.right .posco {
    background-image: url(../image/opustlogowhite.png);
    background-position: center;
    background-size: 140px;
    background-repeat: no-repeat;
}



@media screen and (max-width: 768px) { 
    header nav {
      display: none;
    }
    label .fas {
        display: inline-block;
    }
    label .fas:hover {
        cursor: pointer;
    }
    label i {
      padding: 10px;
    }
    .footer {
      width: 100%;
      height: auto;
      flex-direction: column;
      background-color: #193764;
    }
    .footer .left div {
      margin: 20px 0;
    }
    .number {
      display: none;
    }
    .line {
      display: none;
    }
    address {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    address ul {
        width: 80%;
        margin-bottom: 10px;
    }
    .footer .right {
      display: flex;
    }
    .footer .right div {
      margin: 20px;
    }
  
  
  }

  @media screen and (max-width: 450px) { 
    header nav {
      display: none;
    }
    label .fas {
        display: inline-block;
    }
    label .fas:hover {
        cursor: pointer;
    }
    label i {
      padding: 10px;
    }
    .footer {
      width: 100%;
      height: auto;
      flex-direction: column;
      background-color: #193764;
    }
    .footer .left div {
      margin: 20px 0;
    }
    .number {
      display: none;
    }
    .line {
      display: none;
    }
    address {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    address ul {
        width: 80%;
        margin-bottom: 10px;
    }
    .footer .right {
      display: flex;
    }
    .footer .right div {
      margin: 20px;
    }
  
  
  }