@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url(header_footer.css);
@import url(basic.css);


* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum+Gothi',sans-serif;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    
}
a{
    color: #fff;
}
body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

section {
    width: 100vw;
    height: 100vh;
}




/* first section */

.first {
    width: 100vw;
    height: 100vh;
    overflow: hidden;;
}
.first_wrap {
    width: 100%;
    height: 100%;
    background: url(../image/brand/brand_back_img.jpg);
    background-size: cover;
    background-position: center;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
    position: relative;
    filter: brightness(75%);
}
.first_wrap:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    transform: scale(1.05);
}
.first .text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.first .text_box h1 {
    font-size: 8rem;
    color: #fff;
    
}
.first .text_box p {
    font-size: 1.5rem;
    color: #fff;
}

.first .scroll_text {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    bottom: 3%;
    left: 50%;
    letter-spacing: 0.1em;
    font-weight: normal;

}
.first .scroll_text p {
    font-size: 1rem;
}


/* first section end */


/* second section */

.second {
    width: 100vw;
    height: 100vh;
}
.second_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second_wrap .high_text {
    /* height: 30vh; */
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    padding: 4% 5% 3% 5%;
    width: 90%;
    /* border-bottom: solid;
    border-color: #000;
    border-width: thin; */
    
}
.second_wrap .high_text h1 {
    font-size: 3.5rem;
    line-height: 3.6rem;
}
.second_wrap .high_text p {
    font-size: 1.15rem;
    line-height: 2.5rem;
    color:gray;
    letter-spacing: -0.05em;
}

.second_wrap .low_img {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 70vh;
    padding: 1.5% 5%;
}
.second_wrap .low_img .left_img {
    width: 50%;
    height: 80%;
    background-image: url(../image/brand/opust_brand_first_logo1.jpg);
    background-position: center;
    background-size: cover;
    border-right:solid;
    border-color: #000;
    border-width: 10px;
}
.second_wrap .low_img .right_img {
    width: 50%;
    height: 80%;
    background-image: url(../image/brand/opust_brand_first_logo2.jpg);
    background-position: center;
    background-size: cover;
    border-left:solid;
    border-color: #000;
    border-width: 10px;
}

/* second section end */


/* third section */


.third {
    width: 100vw;
    height: auto;
    background-color: #193764;
    color: #fff;
}
.third_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.third_wrap .high_text {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 3% 5%;
    width: 90%;
}
.third_wrap .high_text h1 {
    font-size: 3.5rem;
    line-height: 3.6rem;
}
.third_wrap .high_text p {
    font-size: 1.15rem;
    line-height: 2.5rem;
    color:rgb(218, 218, 218);
    letter-spacing: -0.05em;
}

.logo_img_wrap {
    width: 90%;
    height: 60vh;
    padding: 1.5% 5% 5% 5%;
    background-color: hsl(216, 60%, 25%);
}
.logo_img_wrap .logo_img{
    width: 100%;
    height: 100%;
    background-image:url(../image/brand/opust_brand_logo_thirdsection.png);
    background-size: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    border: solid;
    border-width: thin;
    color: rgba(255, 255, 255, 0.479);
}


/* third section end */


/* fourth section */

.fourth {
    width: 100%;
    height: auto;
}
.fourth_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.high_text {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 3% 5%;
    width: 90%;
}
.fourth_wrap .high_text h1 {
    font-size: 3.5rem;
    line-height: 3.6rem;
}
.fourth_wrap .high_text p {
    font-size: 1.15rem;
    line-height: 2.5rem;
    color:gray;
    letter-spacing: -0.05em;
}

/* color 부분 */

.fourth_wrap .low_color {
    width: 100%;
    height: 100%;
}

.low_color .color_box_wrap{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
    
}
.low_color .color_box_wrap .color_box {
    width: 450px;
    height: 400px;
    position: relative;
    color: #fff;
}
.low_color .color_box_wrap .navy{
    background-color:#193764;
}
.low_color .color_box_wrap .gray{
    background-color:#697686;
}
.low_color .color_box_wrap .white{
    background-color:#f7f7ff;
    color: rgb(90, 90, 90);
}

.low_color .color_box_wrap .color_text_box {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.low_color .color_box_wrap .color_text_box h1 {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.low_color .color_box_wrap .color_text_box p {
    font-size: 1.1rem;
}


/* fourth section end */


@media screen and (max-width: 768px) {
    .first  .text_box p {
        font-size: 1.23rem;
        line-height: 3rem;
    }
    .high_text {
        flex-direction: column;
        text-align: center;
    }
    .second {
        height: auto;
    }
     .high_text h1 {
        line-height: 3rem;
    }
     .high_text p {
        margin-top: 25px;
        line-height: 1.8rem;
        text-align: left;
    }
    .second_wrap .low_img {
        flex-direction: column;
    }
    .second_wrap .low_img .left_img {
        width: 100%;
        height: 70vh;
        border: none;
    }
    .second_wrap .low_img .right_img {
        width: 100%;
        height: 70vh;
        margin: 20px 0;
        border: none;
    }
    .third_wrap .high_text p {
        text-align: left;
        line-height: 2rem;
    }
    .logo_img_wrap {
        height: 55vh;
    }
    .logo_img_wrap .logo_img {
        background-size: 650px;
    }

}

@media screen and (max-width: 450px) {
    
}